using Moq;
using NUnit.Framework;
using SFA.DAS.PushNotifications.Application.Services;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace SFA.DAS.PushNotifications.Application.UnitTests.Services
{
    [TestFixture]
    public class PushNotificationsServiceTests
    {
        private Mock<IPushNotificationsService> _service;

        [SetUp]
        public void Setup()
        {
            _service = new Mock<IPushNotificationsService>();
        }

        [Test]
        public void 
    }
}
